In [1]:
# %matplotlib inline
import pandas as pd

### Download the data and load it to Pandas. 

You can find the data files in the README.

In [3]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [4]:
cast = pd.read_csv('data/cast.csv', sep=",")
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [5]:
#how many titles are there?
num_titles = len(titles)
print(num_titles)

232330

### What are the earliest two films listed in the titles dataframe?

In [6]:
#What are the earliest two films?
earliest_films = titles.sort_values('year').head(2)
print(earliest_films)

                     title  year
177757          Miss Jerry  1894
215272  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [7]:
#How many movies have the title "Hamlet"?
ham_titles = titles[titles.title == "Hamlet"]
num_ham_titles = len(ham_titles)
print(num_ham_titles)

18

### How many movies are titled "North by Northwest"?

In [8]:
#How many movies are titled "North by Northwest"?
nbn_titles = titles[titles.title == "North by Northwest"]
num_nbn_titles = len(nbn_titles)
print(num_nbn_titles)

1

### When was the first movie titled "Hamlet" made?

In [9]:
#When was the first movie titled "Hamlet" made?
earliest_hamlet = ham_titles.sort_values('year').head(1)
print(earliest_hamlet)

        title  year
46721  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
#List all of the "Treasure Island" movies from earliest to most recent.
ti_titles = titles[titles.title == "Treasure Island"]
ti_titles = ti_titles.sort_values('year')
print(ti_titles)

                  title  year
206027  Treasure Island  1918
51287   Treasure Island  1920
191050  Treasure Island  1934
96934   Treasure Island  1950
89534   Treasure Island  1972
111343  Treasure Island  1973
205397  Treasure Island  1985
179354  Treasure Island  1999

### How many movies were made in the year 1950?

In [13]:
#How many movies were made in the year 1950?
nineteen_fifty_movies = titles[titles.year == 1950]
num_nineteen_fifty_movies = len(nineteen_fifty_movies)
print(num_nineteen_fifty_movies)

1099

### How many movies were made in the year 1960?

In [12]:
sixties_movies = titles[titles.year == 1960]
num_sixties_movies = len(sixties_movies)
print(num_sixties_movies)

1501

### How many movies were made from 1950 through 1959?

In [14]:
#How many movies were made from 1950 through 1959?
fifties_movies = titles[(titles.year >= 1950) & (titles.year <= 1959)]
num_fifties_movies = len(fifties_movies)
print(num_fifties_movies)

12711

### In what years has a movie titled "Batman" been released?

In [15]:
#In what years has a movie titled "Batman" been released?
batman_movies = titles[titles.title == "Batman"]
print(batman_movies)

        title  year
56000  Batman  1989
74608  Batman  1943

### How many roles were there in the movie "Inception"?

In [16]:
#How many roles were there in the movie "Inception"?
incep_roles = cast[cast.title == "Inception"]
num_incep_roles = len(incep_roles)
print(num_incep_roles)

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [17]:
#How many roles in the movie "Inception" are NOT ranked by an "n" value?
incep_roles_no_n = incep_roles[incep_roles.n.isnull()]
num_incep_roles_no_n = len(incep_roles_no_n)
print(num_incep_roles_no_n)

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [18]:
#But how many roles in the movie "Inception" did receive an "n" value?
incep_roles_n = incep_roles[incep_roles.n.notnull()]
num_incep_roles_n = len(incep_roles_n)
print(num_incep_roles_n)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [19]:
#Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.
nbn_cast = cast[cast.title == "North by Northwest"]
nbn_cast = nbn_cast[nbn_cast.n.notnull()]
nbn_cast = nbn_cast.sort_values('n')
print(nbn_cast)

                      title  year                  name     type  \
845516   North by Northwest  1959            Cary Grant    actor
3382934  North by Northwest  1959       Eva Marie Saint  actress
1413409  North by Northwest  1959           James Mason    actor
3043261  North by Northwest  1959   Jessie Royce Landis  actress
345822   North by Northwest  1959        Leo G. Carroll    actor
2941468  North by Northwest  1959  Josephine Hutchinson  actress
1644542  North by Northwest  1959           Philip Ober    actor
1236791  North by Northwest  1959         Martin Landau    actor
2372617  North by Northwest  1959         Adam Williams    actor
1757154  North by Northwest  1959          Edward Platt    actor
646039   North by Northwest  1959     Robert Ellenstein    actor
2225858  North by Northwest  1959          Les Tremayne    actor
450691   North by Northwest  1959       Philip Coolidge    actor
1463316  North by Northwest  1959         Patrick McVey    actor
199768   North by Northwest  1959          Edward Binns    actor
1343025  North by Northwest  1959             Ken Lynch    actor

                           character     n
845516            Roger O. Thornhill   1.0
3382934                  Eve Kendall   2.0
1413409              Phillip Vandamm   3.0
3043261              Clara Thornhill   4.0
345822                 The Professor   5.0
2941468                Mrs. Townsend   6.0
1644542              Lester Townsend   7.0
1236791                      Leonard   8.0
2372617                     Valerian   9.0
1757154              Victor Larrabee  10.0
646039                         Licht  11.0
2225858                   Auctioneer  12.0
450691                     Dr. Cross  13.0
1463316               Sergeant Flamm  14.0
199768                Captain Junket  15.0
1343025  Charley - Chicago Policeman  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [20]:
#Display the entire cast, in "n"-order, of the 1972 film "Sleuth".
sleuth_cast = cast[cast.title == "Sleuth"]
sleuth_cast = sleuth_cast[sleuth_cast.year == 1972]
sleuth_cast = sleuth_cast.sort_values('n')
print(sleuth_cast)

          title  year                name     type  \
1654402  Sleuth  1972    Laurence Olivier    actor
316652   Sleuth  1972       Michael Caine    actor
362592   Sleuth  1972      Alec Cawthorne    actor
1421434  Sleuth  1972  John (II) Matthews    actor
2635708  Sleuth  1972  Eve (III) Channing  actress
1405219  Sleuth  1972        Teddy Martin    actor

                          character    n
1654402                 Andrew Wyke  1.0
316652                  Milo Tindle  2.0
362592            Inspector Doppler  3.0
1421434  Detective Sergeant Tarrant  4.0
2635708             Marguerite Wyke  5.0
1405219      Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [21]:
#Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".
sleuth_cast = cast[cast.title == "Sleuth"]
sleuth_cast = sleuth_cast[sleuth_cast.year == 2007]
sleuth_cast = sleuth_cast.sort_values('n')
print(sleuth_cast)

          title  year                 name     type          character    n
316653   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1254632  Sleuth  2007             Jude Law    actor               Milo  2.0
1751872  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
251883   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
362593   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2635707  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3244050  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [22]:
#How many roles were credited in the silent 1921 version of Hamlet?
hamlet_roles = cast[cast.title == "Hamlet"]
hamlet_roles = hamlet_roles[hamlet_roles.year == 1921]
num_hamlet_roles = len(hamlet_roles)
print(num_hamlet_roles)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [23]:
#How many roles were credited in Branagh’s 1996 Hamlet?
hamlet_roles = cast[cast.title == "Hamlet"]
hamlet_roles = hamlet_roles[hamlet_roles.year == 1996]
num_hamlet_roles = len(hamlet_roles)
print(num_hamlet_roles)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [24]:
#How many "Hamlet" roles have been listed in all film credits through history?
hamlet_roles = cast[cast.character == "Hamlet"]
num_hamlet_roles = len(hamlet_roles)
print(num_hamlet_roles)

92

### How many people have played an "Ophelia"?

In [25]:
#How many people have played an "Ophelia"?
ophelia_roles = cast[cast.character == "Ophelia"]
num_ophelia_roles = len(ophelia_roles)
print(num_ophelia_roles)

111

### How many people have played a role called "The Dude"?

In [26]:
#How many people have played a role called "The Dude"?
the_dude_roles = cast[cast.character == "The Dude"]
num_the_dude_roles = len(the_dude_roles)
print(num_the_dude_roles)

18

### How many people have played a role called "The Stranger"?

In [27]:
#How many people have played a role called "The Stranger"?
the_stranger_roles = cast[cast.character == "The Stranger"]
num_the_stranger_roles = len(the_stranger_roles)
print(num_the_stranger_roles)

212

### How many roles has Sidney Poitier played throughout his career?

In [28]:
#How many roles has Sidney Poitier played throughout his career?
sidney_roles = cast[cast.name == "Sidney Poitier"]
num_sidney_roles = len(sidney_roles)
print(num_sidney_roles)

43

### How many roles has Judi Dench played?

In [29]:
#How many roles has Judi Dench played?
judi_roles = cast[cast.name == "Judi Dench"]
num_judi_roles = len(judi_roles)
print(num_judi_roles)

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [30]:
#List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.
cary_roles = cast[cast.name == "Cary Grant"]
cary_roles = cary_roles[cary_roles.n == 2]
cary_roles = cary_roles[cary_roles.year >= 1940]
cary_roles = cary_roles[cary_roles.year < 1950]
cary_roles = cary_roles.sort_values('year')
print(cary_roles)

                   title  year        name   type    character    n
845513  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
845523    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [31]:
#List the leading roles that Cary Grant played in the 1940s in order by year.
cary_roles = cast[cast.name == "Cary Grant"]
cary_roles = cary_roles[cary_roles.n == 1]
cary_roles = cary_roles[cary_roles.year >= 1940]
cary_roles = cary_roles[cary_roles.year < 1950]
cary_roles = cary_roles.sort_values('year')
print(cary_roles)

                                       title  year        name   type  \
845539               The Howards of Virginia  1940  Cary Grant  actor
845495                       His Girl Friday  1940  Cary Grant  actor
845541                The Philadelphia Story  1940  Cary Grant  actor
845528                             Suspicion  1941  Cary Grant  actor
845543                  The Talk of the Town  1942  Cary Grant  actor
845519                 Once Upon a Honeymoon  1942  Cary Grant  actor
845486                     Destination Tokyo  1943  Cary Grant  actor
845511                             Mr. Lucky  1943  Cary Grant  actor
845512                             Mr. Lucky  1943  Cary Grant  actor
845520                      Once Upon a Time  1944  Cary Grant  actor
845478                  Arsenic and Old Lace  1944  Cary Grant  actor
845515             None But the Lonely Heart  1944  Cary Grant  actor
845514                         Night and Day  1946  Cary Grant  actor
845517                             Notorious  1946  Cary Grant  actor
845535      The Bachelor and the Bobby-Soxer  1947  Cary Grant  actor
845536                     The Bishop's Wife  1947  Cary Grant  actor
845510  Mr. Blandings Builds His Dream House  1948  Cary Grant  actor
845490          Every Girl Should Be Married  1948  Cary Grant  actor
845499                I Was a Male War Bride  1949  Cary Grant  actor

                    character    n
845539            Matt Howard  1.0
845495           Walter Burns  1.0
845541     C. K. Dexter Haven  1.0
845528                Johnnie  1.0
845543           Leopold Dilg  1.0
845519  Patrick 'Pat' O'Toole  1.0
845486          Capt. Cassidy  1.0
845511              Joe Adams  1.0
845512        Joe Bascopolous  1.0
845520            Jerry Flynn  1.0
845478      Mortimer Brewster  1.0
845515             Ernie Mott  1.0
845514            Cole Porter  1.0
845517                 Devlin  1.0
845535            Dick Nugent  1.0
845536                 Dudley  1.0
845510          Jim Blandings  1.0
845490      Dr. Madison Brown  1.0
845499  Captain Henri Rochard  1.0

### How many roles were available for actors in the 1950s?

In [32]:
#How many roles were available for actors in the 1950s?
fifties_roles = cast[cast.year >= 1950]
fifties_roles = fifties_roles[cast.year < 1960]
num_fifties_roles = len(fifties_roles)
print(num_fifties_roles)

211470

C:\Users\eddie\AppData\Local\Temp\ipykernel_6176\811628070.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fifties_roles = fifties_roles[cast.year < 1960]

### How many roles were avilable for actresses in the 1950s?

In [33]:
#How many roles were available for actresses in the 1950s?
fifties_roles = cast[cast.year >= 1950]
fifties_roles = fifties_roles[cast.year < 1960]
fifties_roles = fifties_roles[fifties_roles.type == "actress"]
num_fifties_roles = len(fifties_roles)
print(num_fifties_roles)

56412

C:\Users\eddie\AppData\Local\Temp\ipykernel_6176\2093009166.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fifties_roles = fifties_roles[cast.year < 1960]

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [34]:
#How many leading roles (n=1) were available from the beginning of film history through 1980?
leading_roles = cast[cast.n == 1]
leading_roles = leading_roles[leading_roles.year <= 1980]
num_leading_roles = len(leading_roles)
print(num_leading_roles)

64095

### How many non-leading roles were available through from the beginning of film history through 1980?

In [35]:
#How many non-leading roles were available through from the beginning of film history through 1980?
non_leading_roles = cast[cast.n != 1]
non_leading_roles = non_leading_roles[non_leading_roles.year <= 1980]
num_non_leading_roles = len(non_leading_roles)
print(num_non_leading_roles)

1097484

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [36]:
#How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?
minor_roles = cast[cast.n.isnull()]
minor_roles = minor_roles[minor_roles.year <= 1980]
num_minor_roles = len(minor_roles)
print(num_minor_roles)

439134