# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. Assign any number of type integer to the variable "num_1"

In [2]:
num_1 = 5

#### 2. Assign any number of type float to the variable "num_2"

In [3]:
num_2 = 123

#### 3. Create the variable "total" as the sum of variables "num_1" and "num_2"

In [4]:
total = num_1 + num_2

In [6]:
print(total)

128

#### 4. Check the type of the variable "total"

In [5]:
type(total)

int

#### 5. Assign your height to the variable "height"

In [7]:
height = 180

#### 6. Assign your weight to the variable "mass"

In [8]:
mass = 160

#### 7. Create the variable "bmi" :
hint: bmi = weight / (height*height)

In [9]:
bmi = mass/(height^2)

In [10]:
print(bmi)

0.8791208791208791

#### 8. Print the value of the "bmi" variable

In [11]:
print(bmi)

0.8791208791208791

# String

#### 1. Create the variable "name" with your first name

In [12]:
name = 'theo'

#### 2. Create the variable "surname" with your surname

In [13]:
surname = 'plessas'

#### 3. Create the variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [14]:
name_surname = name + " " + surname

In [15]:
print(name_surname)

theo plessas

#### 4. Print the variable "name_surname"

In [16]:
print(name_surname)

theo plessas

#### 5. Print the first letter of the variable "name_surname"

In [17]:
print(name_surname[0])

t

#### 6. Print your name (without any enmpty space) from the variable "name_surname"

In [21]:
print(name_surname[0:4])

theo

#### 7. Print your surname 10x (use variable "surname")

In [26]:
for i in range(10):
    print(surname)

plessas
plessas
plessas
plessas
plessas
plessas
plessas
plessas
plessas
plessas

#### 8. Create the variable "greeting" with the message "Hello my name is " + your name and surname (use "name_surname" variable)

In [27]:
greeting = "Hello my name is " + name_surname

#### 9. Print the "message" variable

In [28]:
print(greeting)

Hello my name is theo plessas

## List

#### 1. Create an empty list named "empty_list"

In [30]:
empty_list=[]

In [31]:
type(empty_list)

list

#### 2. Create a list called "heights" with five random values

In [32]:
heights=[123,134,145,156,167]

In [33]:
print(heights)

[123, 134, 145, 156, 167]

#### 3. Print "heights"

In [34]:
print(heights)

[123, 134, 145, 156, 167]

#### 4. Print the type of variable for "heights"

In [35]:
type(heights)

list

#### 5. Print the second value from "heights"

In [36]:
print(heights[1])

134

#### 6. Assign the last three values from "heights" to another list called "heights_2"

In [39]:
heights_2=heights[2::]

#### 7. Print "heights_2"

In [40]:
print(heights_2)

[145, 156, 167]

#### 8. Create the variable "list_all" with values from lists "heights" and "heights_2"

#### 9. Print "list_all"

#### 10. Print the type of "list_all"

## Tuple

#### 1. Create an empty tuple called "empty_tuple"

#### 2. Try to assign your name to the first position of "empty_tuple" and check the type of error that occurs

#### 3. Based on the error that occured in the above question, what is the main difference between a list and a tuple?

## Dictionary

#### 1. Create an empty dictionary named "empty_dict"

#### 2. Create a dictionary called "heights_dict" with your name as a key and height as a value

#### 3. Assign another name and height to "heights_dict"

#### 4. Print "heights_dict"

#### 5. Print your height from the "heights_dict" dictionary

#### 6. Print all values from the "heights_dict" dictionary

#### 7. Print all keys from the "heights_dict" dictionary