# Lighthouse Labs
## W03D4 Python Basics 1
Instructor: Najeeb Khan

Original Notebook by: Alibek Kruglikov

## Agenda

- Syntax
- Data Types
- For Loops
- While Loops
- Control Flow (If and Else Statements)

### Whitespace
- Python programs are organized with one statement per line.
- Each statement occupies one line, and is separated by a line break
- Some code blocks (loops, functions, etc) are created with indents

#### Separating statements

```MySQL
SELECT *
FROM order_details;

SELECT *
FROM clients;
```


Python uses **line breaks**:
```python
# addition
add = 5 + 6
# subtraction
sub = 1 - 2
```

#### Code blocks/functions
javascript uses braces (curly brackets):
```javascript
function mult(num1, num2) {
  return num1 * num2;
}
```

python uses **indents**:
```python
def mult(num1, num2):
    return num1 * num2
```

### Variables

- Variables are names that we give to objects.

**Why use Variables?**
- Helps organize our code
- Store Data
- Reuse data again and again

In [1]:
var_info = 'variables hold data. assign them with the = sign'

### Built in Data Types - Values and Objects

We will been working with values, which are pieces of data that a computer program works with, such as a number or text.
We will assign a lot of these values to objects (variables) with the assignment operator `=`.
These values will always belong to a data type


Here are some data types built-in to the Python language:

* Integers - `int`
* Floating-point numbers - `float`
* Strings - `str`
* Booleans - `bool` - two values: True and False.
* Lists - `list`
* Tuples - `tuple`
* Sets - `set`
* Dictionaries - `dict`

![image](https://miro.medium.com/v2/resize:fit:1134/1*WMiNIQ9THariDSJw47uU1w.png)

### Integers & Floats

In [2]:
a = 4

In [3]:
b = 4.0

In [4]:
# usethe type() function to check the type of an object
type(5.765)

float

### Arithmetic with variables

In [5]:
a = -2
b = 12.9

# Arithmetic
c = a + 1    # Arithmetic with literals and variables
c = a + b    # Arithmetic with just variables
c = c + a    # c becomes its old value + a
c = a - b    # Subtraction
c = a * b    # Multiplication
c = b / a    # Division
c = (a + b) * 2 - a    # Compound calculations - PEMDAS
c = b // a   # floor division
c = a ** b   # exponents

In [6]:
# Functions on numbers
c = round(8.187, 2)    # Round up to the second decimal point
c

8.19

In [7]:
# Floor division

# 13/2 = 6.5

13//2

6

In [8]:
# modulo: returns the remaining from division
13%2

1

#### Type Casting ints and floats

In [9]:
# cast int to float
type(float(4))

float

In [10]:
# cast float to int
int(8.9)

8

In [11]:
float(9)

9.0

In [12]:
round(9.001234,3)

9.001

### Strings

In [13]:
text = 'he said "hello"'

In [14]:
print(text)

he said "hello"

In [15]:
# multi line text

text = """
he
said
'hello'
"""

In [16]:
print(text)

he
said
'hello'

In [17]:
# Strings are a sequence of symbols in quotes
# Without the quotes, Python tries to interpret text as variable names
a = "IMAGINATION is more important than knowledge"


# Strings can contain any symbols, not just letters
b = 'The Meaning of Life is 42.'

c = '''this
is a
multiline'''
# single, double, triple single, and triple double quotes

In [18]:
# Concatenation (combining)
d = a + ", but not as important as learning to code"

# Functions on strings
# Note: these functions don't change the original variables.
# They return copies with the function applied
e = b.upper()
f = b.lower()
g = c.capitalize()

In [19]:
print('Hello, my name is Alibek. I am a Data Scientist'.capitalize())

Hello, my name is alibek. i am a data scientist

#### Type casting with strings

In [20]:
# anything can be cast TO a string, but not the other way around
# cast a numeric type to a string
type(str(9.45))
#str(9.45)

str

In [21]:
# cast a string to a numeric type
int('he is 90 year old')

ValueError: invalid literal for int() with base 10: 'he is 90 year old'

In [22]:
# character count including whitespaces
len('he is 90 year old')

17

## Advanced Data Types

### Lists

- **Mutable** and **ordered** sequence of objects
- Can be indexed, sliced, and changed
- Lists can be used for any type of object, from numbers and strings to more lists.

In [23]:
# Without lists, individual and unrelated variables
# (imagine if you had hundreds of names)
person1 = 'Mal'
person2 = 'Zoe'
person3 = 'Wash'
person4 = 'Jayne'
person5 = 'Kaylee'

# Using lists, a data structure that contains many values
people = ['Mal', 'Zoe', 'Wash', 'Jayne', 'Kaylee']

# List creation
empty_list = [] # brackets (square brackets)
small_list = [2.3, 1.0] # List elements separated by commas

In [24]:
large_animals = ['African Elephant', 'Asian Elephant', 'White Rhinoceros',
                 'Hippopotamus', 'Gaur', 'Giraffe', 'Walrus', 'Black Rhinoceros',
                 'Saltwater Crocodile', 'Water Buffalo']

In [25]:
# Access elements in a list using index
large_animals[4]

'Gaur'

In [26]:
# Finding index of an item in a list
large_animals.index('Gaur')

4

In [27]:
# Slicing [start:stop:step]
large_animals[8:2:-1]

['Saltwater Crocodile',
 'Black Rhinoceros',
 'Walrus',
 'Giraffe',
 'Gaur',
 'Hippopotamus']

In [28]:
# Slicing [start:stop:step]
# Q: how would we return from the first element in the list to the last, every second element?

In [29]:
# changing values
large_animals[4] = 'Zebra'

In [30]:
large_animals

['African Elephant',
 'Asian Elephant',
 'White Rhinoceros',
 'Hippopotamus',
 'Zebra',
 'Giraffe',
 'Walrus',
 'Black Rhinoceros',
 'Saltwater Crocodile',
 'Water Buffalo']

In [31]:
# changing values - be careful with slices ... remember, it never includes the end index
large_animals[:3] = ['Emu', 'Emu', 'Emu']

In [32]:
# Q: What will this do?
large_animals = large_animals[::-1]

In [33]:
large_animals

['Water Buffalo',
 'Saltwater Crocodile',
 'Black Rhinoceros',
 'Walrus',
 'Giraffe',
 'Zebra',
 'Hippopotamus',
 'Emu',
 'Emu',
 'Emu']

In [34]:
# deleting
del large_animals[4]

In [35]:
large_animals

['Water Buffalo',
 'Saltwater Crocodile',
 'Black Rhinoceros',
 'Walrus',
 'Zebra',
 'Hippopotamus',
 'Emu',
 'Emu',
 'Emu']

In [36]:
# extending via .append()
large_animals.append('Zebra')

In [37]:
# insert at index position
large_animals.insert(2, 'new animal')

In [38]:
large_animals

['Water Buffalo',
 'Saltwater Crocodile',
 'new animal',
 'Black Rhinoceros',
 'Walrus',
 'Zebra',
 'Hippopotamus',
 'Emu',
 'Emu',
 'Emu',
 'Zebra']

In [39]:
# extending via concatenation
large_animals = large_animals + ['Gaur', 'Gaur']

In [40]:
large_animals

['Water Buffalo',
 'Saltwater Crocodile',
 'new animal',
 'Black Rhinoceros',
 'Walrus',
 'Zebra',
 'Hippopotamus',
 'Emu',
 'Emu',
 'Emu',
 'Zebra',
 'Gaur',
 'Gaur']

In [41]:
# Lists within lists
# Q: How many items in each list?

animal_kingdom = [
  ['Elephant', 'Tiger', 'Dog', ['Cat', 'Big Cat']],
  ['Whale', 'Dolphin', 'Shark', 'Eel'],
  ['Eagle', 'Robin']
]

# indexing practice

In [42]:
# to append for a list in a list
animal_kingdom[0][-1].append('Small Cat')

In [43]:
animal_kingdom

[['Elephant', 'Tiger', 'Dog', ['Cat', 'Big Cat', 'Small Cat']],
 ['Whale', 'Dolphin', 'Shark', 'Eel'],
 ['Eagle', 'Robin']]

In [44]:
# Q: what about if we wanted to add "Small Cat" to the last element in the main list?

#### String and List similarities

In [45]:
# slices can be returned from strings the same as lists
a = 'this is really symbols just a list of symbols called characters'

# access a character
a[4]
# access a slice
a[::-3]
# Splitting strings into lists
a.split()
# Splitting by a substring
a.split('s ')

['thi', 'i', 'really symbol', 'just a list of symbol', 'called characters']

In [46]:
a.split(' ')

['this',
 'is',
 'really',
 'symbols',
 'just',
 'a',
 'list',
 'of',
 'symbols',
 'called',
 'characters']

## Tuple
- **immutable** and **ordered** objects
- Similar to a list, but without some funcitonalities.
- indexing and splitting similar to lists
- More efficient

In [47]:
# Definition - parentheses (round brackets) and elements separated by commas
x = ('Alibek', 'python', 'Canada')

# Getting the size of a tuple (or list)
len(x)

# Accessing one element
y = x[0]
# >>> 'Alibek'
x[1]
# >>> 'python'

# Accessing a sequence of entries
y = x[1:3]
# >>> ('python', 'Canada')

# "Unpacking" tuples (or lists)
name, language, country = x
# name = 'Alibek', language = 'python', and country = 'Canada'

# Combining tuples
y = (8, 2) + x
# (8, 2, 'Alibek', 'python', 'Canada')

# Checking membership - this is faster with tuples
y = 12 in x    # False (x does not contain the value 12)
print(y)

# You cannot modify tuple objects
# They are 'immutable' (this is the essential difference from lists)

False

In [48]:
# Q: What will this output?
# hint: remember slicing end is not inclusive

x[1:-1]

('python',)

In [49]:
# Q: what will y output?
y = (8, 2) + x
y

(8, 2, 'Alibek', 'python', 'Canada')

In [50]:
# unpacking example (multi variable assignments)
name, language, country = x

In [51]:
country

'Canada'



It might seem weird that tuples are essentially just lists that can't be modified. What are they good for?  When performance isn't an issue (small amounts of data), it's all about code readability.

When you use a tuple, you're telling the people who read your code "this variable will not change".
In practice, people use lists for "homogeneous" data (i.e. a list of strings), whereas the elements in tuples are often "heterogeneous" and might include different data types and/or concepts.

In the example above, the first entry represents my name, the second entry represents the programming language I'm using, and the third entry represents the country I live in. It would be **conceptually** strange to define these different concepts in the same list - since lists are usually homogeneous data. Tuples can be used as "keys" in dictionary data structures (which we'll see below), whereas lists cannot.

These differences communicate the objects's function, and helps make your code more understandable.

***

## Dictionary (dict)

- Similar to lists, but elements are accessed using 'keys' rather than order.
- 'keys' can take on numerous data types (str, int, floats, tuples)
    - as long as the data type is ['hashable'](https://towardsdatascience.com/iterable-ordered-mutable-and-hashable-python-objects-explained-1254c9b9e421#:~:text=In%20particular%2C%20all%20the%20primitive,sets%2C%20and%20bytearrays%20are%20unhashable.)
    - e.g. you could not use a list [ ] as a 'key'

In [52]:
# definition - braces, keys and values separated by colons,
# commas between key and value pairs
x = {'Student_ID': [1,2,3],
    'Student_Name': 42,
    'degree': ['marketing', 'computer science', 'snake studies']}

In [53]:
# access a value
x['Student_Name']

42

In [54]:
# modifying values
x['Student_Name'] = 'Alibek'

In [55]:
# adding keys and values
x['Age'] = 42

In [56]:
x

{'Student_ID': [1, 2, 3],
 'Student_Name': 'Alibek',
 'degree': ['marketing', 'computer science', 'snake studies'],
 'Age': 42}

In [57]:
# retrieving keys
x.keys()

dict_keys(['Student_ID', 'Student_Name', 'degree', 'Age'])

In [58]:
list(x.values())

[[1, 2, 3], 'Alibek', ['marketing', 'computer science', 'snake studies'], 42]

In [59]:
# retrieving values
x.values()

dict_values([[1, 2, 3], 'Alibek', ['marketing', 'computer science', 'snake studies'], 42])

In [60]:
# retrieving keys and values (items)
x.items()

dict_items([('Student_ID', [1, 2, 3]), ('Student_Name', 'Alibek'), ('degree', ['marketing', 'computer science', 'snake studies']), ('Age', 42)])

Note: Dictionaries should not be used as 'ordered' data types like lists, and it is dangerous to write your code in a way that uses the order of a dictionary.

It makes no sense to say that the 'student_name'th entry comes before the 'degree'th entry, even though this is how we have written it above.

***

### Sets

Data structure that:
- are unordered, meaning there is no element 0 and element 1, and
- The values contained are unique - meaning there are no duplicate entries.

In [61]:
# definition - braces and commas between elements
my_set = {2, 1.0, 'apple', 1.0, 'apPle'}

my_set

{1.0, 2, 'apPle', 'apple'}

In [62]:
# cannot use index position
my_set[0]

# but could convert to a list and index
#list(my_set) # but be aware, the order is strange..... I wouldnt use

TypeError: 'set' object is not subscriptable

In [64]:
# delete duplicates from a list using set()
set(large_animals)

{'Black Rhinoceros',
 'Emu',
 'Gaur',
 'Hippopotamus',
 'Saltwater Crocodile',
 'Walrus',
 'Water Buffalo',
 'Zebra',
 'new animal'}

### Summary

|Data Structure	| Preserves order | Mutable | Symbol| Can contain duplicates | Can be sliced |
|---------|------|------|------|------|------|
|str	|✓	|☓	|''  , ""|	✓|✓|
|list	|✓	|✓	|[] |	✓|✓|
|tuple	|✓	|☓	|() |	✓|✓|
|set	|☓	|✓	|{} |	☓|☓|
|dict  |✓	|✓	|{ key : value} | 	☓| ☓|

### Booleans and Comparison

In [65]:
# Booleans: True or False
# Comparison Operators
a = 14
b = 5

In [66]:
# Equal
a == b # False

False

In [67]:
# Not equal
a != b

True

In [68]:
# Greater than
a > b

True

In [69]:
# Greater than or equal to
a >= b

True

In [70]:
# Less than
a < b

False

In [71]:
# Less than or equal to
a <= b

False

In [72]:
# Equality with strings ... Lexicographic ordering
a = '1 2 3'
b = 'one two 3'

In [73]:
a < b

True

In [74]:
min(['abc', '123', 'xyz'])

'123'

In [75]:
# Logic operators (compound boolean expressions)

# and - both must be True
snow = False
temperature = 28
camping = temperature > 25 and snow == False
print(camping)
# >>> True

snow = True
camping = temperature > 25 and snow == False
print(camping)
# >>> False

True
False

In [76]:
# or - either must be True
has_coffee = True
has_beer = True
print(has_coffee or has_beer)
# >>> True
has_coffee = False
print(has_coffee or has_beer)
# >>> True

True
True

### Control structure (also refered to **control flow**): if/elif/else statements

**if statements** are one of the most essential concepts in any programming language because they allow the code to execute differently depending on external values. The format of an if statement is as follows:

- Essential Programming Concept, in any langauge. Allows the code to 'react' to circumstances.
- Executes code only if a certain condition is met

```python
if [boolean expression]: # starts with if keyword then test condition
    [what to do when the boolean expression evaluates to True]
else:   # optional
    [what to do when the boolean expression evaluates to False]
```

In [77]:
# Using the data structure above, let's output something different depending on
# whether or not someone passed the course
course_marks = {'Linda': 84, 'Andrew': 100, 'Jasmine': 12}
pass_mark = 80


if course_marks['Linda'] >= pass_mark:
  print("Linda has passed her course")  # indentation matters
else:
  print("Linda has not passed")

Linda has passed her course

#### IFs and ELIFS
```python
if [boolean expression]: #starts with if keyword then test condition
    [what to do when the boolean expression evaluates to True]
elif: [boolean expression]
    [what to do when the boolean expression evaluates to True]
else:   # optional
    [what to do when the boolean expression evaluates to False]
```

In [78]:
course_marks = {'Linda': 82, 'Andrew': 100, 'Jasmine': 12}

if course_marks['Linda'] >= 90:
    print("A")

elif course_marks['Linda'] >= 80:
    print("B")

elif course_marks['Linda'] >= 70:
    print("C")

else:
    print('Fail')

B

### Nested Ifs

In [79]:
a = 1
if a > 0:
    print('positive')
elif a == 0:
    print('zero')
else:
    print('negative')

positive

In [80]:
a = 1

if a >= 0:
    if a == 0:
        print('zero')
    else:
        print('Positive Number')

else:
    print("negative Number")

Positive Number

## Control Flow: For Loops (definite iterations)

If all we were able to do with lists, tuples, and dictionaries was store data in them, they would essentially
just be useful for organizing our code and nothing else.
Luckily, we can iterate through them using "for" loops. The "for" loop
has the following format:
```python
for [loop variable] in [iterable object]:
    [code to execute using loop variable]
```

In [81]:
# simple for loop

my_name = "Alibek"

for char in my_name:
  print(char)

A
l
i
b
e
k

In [82]:
course_marks = {'Linda': 84, 'Andrew': 100, 'Jasmine': 12}

students = course_marks.keys()
marks = course_marks.values()
pass_mark = 85

for student in students:
    print(student + ' : ' + str(course_marks[student]))

Linda : 84
Andrew : 100
Jasmine : 12

In [83]:
course_marks = {'Linda': 84, 'Andrew': 100, 'Jasmine': 12}

student_names = course_marks.keys()
marks = course_marks.values()
pass_mark = 85

for student in student_names:
    if course_marks[student] >= pass_mark:
        print(student + " has passed their course")

    else:
        print(student + " has not passed")
marks_list = list(marks)
marks_list

Linda has not passed
Andrew has passed their course
Jasmine has not passed

[84, 100, 12]

In [84]:
for student_grade in course_marks.items():
    name = student_grade[0]
    grade = student_grade[1]
    if grade >= pass_mark:
        print(name + ' has passed')
    else:
        print(name + ' has not passed')

Linda has not passed
Andrew has passed
Jasmine has not passed

In [85]:
f'my name is {name}'

'my name is Jasmine'

In [86]:
animal_kingdom = [
  ['Elephant', 'Tiger', 'Dog', ['Cat', 'Big Cat']],
  ['Whale', 'Dolphin', 'Shark', 'Eel'],
  ['Eagle', 'Robin']
]


# how can we print all animals one by one?

In [87]:
# summing lists
course_marks = [100, 90, 95, 80, 70]
marks_sum = 0 # accumulator

# add them all up with a loop
for mark in course_marks:
    print(marks_sum)
    marks_sum += mark

0
100
190
285
365

In [88]:
marks_sum

435

In [89]:
# if trying to sum, could also just use the sum() function
sum(course_marks)

435

In [90]:
# Iterating through lists (or tuples) by their index
# this is necessary to change values in a list
course_marks = [82, 100, 12]

for index in range(len(course_marks)):
  course_marks[index] -= 10

print(course_marks)

[72, 90, 2]

In [91]:
course_marks = {'Linda': 72, 'Andrew': 100, 'Jasmine': 12}

# iterating through dictionary keys
for k in course_marks.keys():
    print(k)

Linda
Andrew
Jasmine

In [92]:
# iterating through dictionary values
for v in course_marks.values():
    print(v)

72
100
12

In [93]:
# what about iterating through a dictionary itself?
for d in course_marks:
    print(d)

Linda
Andrew
Jasmine

## Control Flow: While Loops (aka. indefinite iterations)

Sometimes, we don't want our loop to iteratate through the values of some data structure, but
instead want it to execute until some condition is no longer met. For this, we use a "while" loop, which has the
following format:

```python
while [boolean expression]: #starts with a while keyword, followed by a test condition, ends with a colon :
    [what you want to do each iteration] #loop body contains code that gets repeated. Must be indented 4 spaces.
```

In [94]:
# Simple
n = 0
list_of_numbers = []

# print all numbers from n to 0
while n < 10:
    list_of_numbers.append(n)
    n += 1

In [95]:
list_of_numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### BE CAREFUL with INFINITE LOOPS, you'll break the matrix
* Can be useful, for example with code that interacts with hardware may use an infinite loop to constantly check whether a button or switch has been activated

* CTRL + C forces a command line process to quit

***

## Cooking Challenge

Alberto is making spaghetti tonight and he needs to make sure that if he doesn't have enough of the ingredients in his pantry, he adds them to his shopping list.

- For each item in the recipe, check if the ingredient is in Alberto's pantry.

- If the recipe ingredient is in the pantry, check if the recipe requires more of the ingredient than what Alberto has in storage. If so, add the name and the quantity he needs to purchase as key-value pairs in the dictionary shopping_list.

- If the recipe item is not in the pantry, add the ingredient and the quantity as **key-value pairs in the dictionary** shopping_list.

In [2]:
pantry = {'pasta': 3, 'garlic': 4,'sauce': 2,
          'basil': 2, 'salt': 3, 'olive oil': 3,
          'rice': 3, 'bread': 3, 'peanut butter': 1,
          'flour': 1, 'eggs': 1, 'onions': 1, 'mushrooms': 3,
          'broccoli': 2, 'butter': 2,'pickles': 6, 'milk': 2,
          'chia seeds': 5}

meal_recipe = {'pasta': 2, 'garlic': 2, 'sauce': 3,
          'basil': 4, 'salt': 1, 'pepper': 2,
          'olive oil': 2, 'onions': 2, 'mushrooms': 6}


shopping_list = dict()

```
1. You have a meal recipe and you have a pantry.
2. You read item by item in the meal recipe.
3. FOR each item, you verify IF you have the item in your pantry.
    3a. If you meet the previous condition, you verify IF you have enough of that item.
4. ELSE you add the whole ingredient quantity to your shopping list.

```

In [3]:
if 'salmon' not in meal_recipe.keys():
    print('no')

no

In [5]:
### Solution
shopping_list = dict()


for ingredient in meal_recipe:
    if pantry.get(ingredient):
        inventory = pantry.get(ingredient)
        if inventory < meal_recipe.get(ingredient):
            shopping_list["%s" % ingredient] = meal_recipe.get(ingredient)
        else:
            continue
    else:
        shopping_list["%s" % ingredient] = meal_recipe.get(ingredient)

In [6]:
shopping_list

{'sauce': 3, 'basil': 4, 'pepper': 2, 'onions': 2, 'mushrooms': 6}

In [10]:

shopping_list = dict()

for ingredient, amount_needed in meal_recipe.items():
    inventory = pantry.get(ingredient, 0)
    if inventory < amount_needed:
        shopping_list[ingredient] = amount_needed

print(shopping_list)

{'sauce': 3, 'basil': 4, 'pepper': 2, 'onions': 2, 'mushrooms': 6}

In [9]:
shopping_list = dict()
print(shopping_list)

{}